.top-image {
	position: relative;
	padding: 20px 0;
}

.top-image .new-label {
	position: absolute;
	bottom: -17px;
	right: 126px;
	width: 160px;
    z-index: 10;
}

.top-image .text-list {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.top-image .text-list .image-wrapper {
    width: 120px;
    margin: 0 10px;
}

.top-image .text-list .image-wrapper img {
    box-shadow: 2px 2px 6px #666666;
}

.guide {
	background:
		linear-gradient(-160deg, #0055A6 6px, transparent 0),
		linear-gradient(160deg, #0055A6 6px, #FFF24A 0);
	background-color: #0055A6;
	background-size: 25px 6px;
	background-repeat: repeat-x;
    background-position: bottom;
    margin-top: -60px;
	margin-bottom: 0;
}

.guide .guide-content {
	padding: 96px 0 15px;
	color: #FFFFFF;
}

.guide .guide-content h3 {
	font-size: 3.7rem;
	font-weight: bold;
    text-align: center;
    color: #FFF24A;
}

.guide .guide-content .info-ict {
    margin: 10px 0 20px;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
}

.guide .guide-content .info-ict h4 {
    color: #0055A6;
    font-weight: bold;
    margin: 0 0 10px 65px;
    font-size: 1.8rem;
}

.guide .guide-content .info-ict p {
    color: #222222;
    font-weight: bold;
    margin: 0;
    padding: 0 100px;
}

.guide .guide-content .info-ict .measures-title {
    position: absolute;
    top: -10px;
    left: -20px;
    width: 90px;
}

.guide .guide-content .info-ict .ict {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 70px;
}

.measures {
	background-color: #FFF24A;
	margin-bottom: 60px;
}

.measures .measures-content {
    padding: 15px;
}

.measures .measures-content .description {
    text-align: center;
    font-weight: bold;
    color: #0055A6;
    text-shadow:
        #FFFFFF 1px 1px 0, #FFFFFF -1px -1px 0,/*右下、左上*/
        #FFFFFF -1px 1px 0, #FFFFFF 1px -1px 0,/*右上、左下*/
        #FFFFFF 0px 1px 0, #FFFFFF  0-1px 0,/*右、左*/
        #FFFFFF -1px 0 0, #FFFFFF 1px 0 0;/*上、下*/
}

.measures .measures-content .note {
    font-size: small;
}

.measures .measures-content .measures-list {
    display: flex;
    justify-content: center;
    flex-wrap:wrap
}

.measures .measures-content .measures-list .image-wrapper {
    margin: 0 10px 10px;
}

.info-apply-method {
    margin: 20px 40px;
}

.apply-method-image {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.apply-method-image .image-wrapper {
    max-width: 165px;
}

.venue-name {
    background-color: #FFF24A;
    color: #0055A6;
    font-weight: bold;
    font-size: 1.9rem;
    display: inline-block;
    padding: 1px 5px;
    margin-top: 10px;
}

.venue-box .date {
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 2.5rem;
    margin: 0;
}

.venue-box .name {
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 2.5rem;
    margin: 0;
}

.venue-box .room {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.0rem;
    margin: 0 0 10px;
}

.venue-box .address {
    font-size: 1.5rem;
    line-height: 1.9rem;
}

iframe {
    width: 100%;
}

.text-attention {
    color: #EA3322;
	font-weight: bold;
	margin-bottom: 3px;
}

@media screen and (max-width : 768px) {
    .top-image {
        padding: 0;
    }

    .top-image .new-label {
        bottom: -50px;
        right: 0;
        width: 100px;
    }

    .top-image .text-list {
        margin: 0;
    }

    .guide {
        margin-top: -30px;
    }

    .guide .guide-content {
        padding-top: 45px;
    }

    .guide .guide-content h3 {
        font-size: 2.5rem;
    }

    .guide .guide-content .info-ict h4 {
        font-size: 1.6rem;
    }

    .guide .guide-content .info-ict p {
        padding: 0 45px 0 20px;
    }

    .guide .guide-content .info-ict .measures-title {
        top: -16px;
        left: -8px;
        width: 80px;
    }

    .guide .guide-content .info-ict .ict {
        bottom: 0;
        right: 10px;
        width: 60px;
    }

    .measures {
		margin-bottom: 30px;
	}

	.measures .measures-content .measures-list {
        display: block;
        text-align: center;
    }

	.measures .measures-content .measures-list .image-wrapper {
        display: inline-block;
		width: 70px;
	}

    .info-apply-method {
        margin: 10px 15px 20px;
    }

    .apply-method-image {
        margin-bottom: 20px;
    }
}
