/* #region 全体 */
body {
	font-family: 'メイリオ', Meiryo, '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
/* #endregion 全体 */

/* #region 共通 */
.error-msg {
	color: red;
}

.required-label {
    position: relative;
}

.required-label::after {
    content: "必須";
    display: inline-block;
    margin-left: 10px;
    background-color: red;
    color: #FFFFFF;
    padding: 0 4px;
    font-size: 11px;
    border-radius: 2px;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.of-scroll-x {
	overflow-x: scroll;
}
/* #endregion 共通 */

/* #region bootgridのbootstrap4対策 */
ul.pagination > li:first-child > a,
ul.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

ul.pagination > li > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    border: 1px solid #C0C0C0;
}

ul.pagination > li:last-child > a,
ul.pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #6777EF;
    border-color: #5767DF;
    cursor: default;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #6777EF;
	background-color: #BDC6F7;
	cursor: pointer;
}

.bootgrid-table th > .column-header-anchor > .text {
	display: inline-block;
}
/* #endregion bootgridのbootstrap4対策 */

/* #region 展示会管理 */
dl.confirm-list {
    margin: 0;
    padding: 0;
}

dl.confirm-list dd {
    padding-left: 1em;
    border-bottom: 1px solid #5767DF;
    padding-bottom: 10px;
}
/* #endregion 展示会管理 */
