/**********************************/
/*                                */
/*  メインイメージの赤： #991E23  */
/*                                */
/**********************************/

/* #region 全体 */
.go-to-top {
    color: #C30D23;
    font-size: 4.5rem;
    position: fixed;
    right: 50px;
    bottom: 30px;
    cursor: pointer;
    display: none;
    z-index: 10;
}

@media screen and (max-width : 768px) {
    .go-to-top {
        font-size: 3.5rem;
        right: 30px;
        bottom: 20px;
    }
}
/* #endregion 全体 */

/* #region フッター */
footer {
    width: 100%;
    margin: 30px 0 0;
    padding: 20px 0;
    border-top: 1px solid #991E23;
    font-size: 1.3rem;
    position: absolute;
    bottom: 0;
}

footer a {
    display: inline-block;
}

footer img.logo {
    max-width: 160px;
}

footer .copyright {
    text-align: right;
    margin: 20px 0 0;
}
/* #endregion フッター */

/* #region メインページ */
.top-banner {
    padding: 0;
    margin: 0 0 30px;
    background: repeating-linear-gradient(-30deg, #FFFFFF 0px, #FFFFFF 5px, #F2E9E0 5px, #F2E9E0 10px);
}

.top-banner img {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 0;
}

.cancel-box {
    border: 2px solid #991E23;
    margin: 0 0 20px;
    padding: 15px;
    border-radius: 4px;
}

.cancel-box h1 {
    font-size: 3.0rem;
    font-weight: bold;
    color: #991E23;
    text-align: center;
}

.cancel-box p {
    margin: 0;
}

.cancel-box span {
    color: #991E23;
    font-weight: bold;
}

.main-lead {
    font-size: 1.8rem;
    font-weight: bold;
    color: #991E23;
    margin: 0;
}

.main-lead span {
    font-style: italic;
    display: inline-block;
    margin-right: 3px;
}

.main-title {
    font-size: 3.0rem;
    font-weight: bold;
    color: #991E23;
    margin: 0 0 20px;
}

.belt-title {
    font-size: 2.0rem;
    font-weight: bold;
    background-color: #991E23;
    color: #FFFFFF;
    margin: 30px 0 10px;
    padding: 5px 10px;
    position: relative;
}

.belt-title span {
    display: block;
    font-size: 1.4rem;
    position: absolute;
    top: 8px;
    right: 8px;
}

p.schedule {
    margin: 0 0 3px;
    font-weight: bold;
    font-size: 1.7rem;
}

p.schedule .week {
    font-size: 1.2rem;
}

p.schedule .diamond {
    display: inline-block;
    margin: 0 7px;
    font-size: 1.4rem;
    color: #991E23;
}

p.schedule .pref {
    font-size: 1.2rem;
}

p.advance-application {
    display: inline-block;
    margin: 40px auto 20px;
    color: #991E23;
    border-bottom: 1px solid #991E23;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3.3rem;
}

.download-box {
    margin: 30px 0 0;
    padding: 0 20px;
}

.download-box a.dl-button {
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: #C30D23;
    color: #FFFFFF;
    font-size: 2.3rem;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.download-box a.dl-button:hover {
    background-color: #991E23;
}

.download-box a.dl-button span {
    display: block;
    font-size: 1.7rem;
}

.download-box .in-page-box {
    margin: 0 0 70px;
}

.download-box .in-page-box::after {
    content: "";
    display: block;
    clear: both;
}

.download-box a.in-page {
    display: block;
    float: right;
    font-weight: bold;
    margin: 10px 0 20px;
    color: #991E23;
    position: relative;
    padding: 0 30px 0 0;
    text-decoration: none;
}

.download-box a.in-page::before {
    content: "";
    display: block;
    width: 240px;
    border-bottom: 1px solid #991E23;
    position: absolute;
    bottom: 0;
    left: -20px;
}

.download-box a.in-page::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 5px;
    right: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #991E23;
    border-left: 10px solid #991E23;
}

h2.place-list {
    background-color: #991E23;
    color: #FFFFFF;
    font-size: 2.3rem;
    font-weight: bold;
    padding: 5px 0 5px 15px;
}

.place-anchor-box {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 20px 0;
}

.place-anchor-box a {
    text-decoration: none;
    text-align: center;
    color: #991E23;
    font-weight: bold;
    border: 1px solid #991E23;
    padding: 3px 0;
    width: 32%;
    transition: all 0.3s;
}

.place-anchor-box a:hover {
    background-color: #991E23;
    color: #FFFFFF;
}

.place-anchor-box a span {
    display: inline-block;
    width: 30px;
    height: 0;
    position: relative;
}

.place-anchor-box a span::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid #991E23;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: -4px;
    transition: all 0.3s;
}

.place-anchor-box a:hover span::after {
    border-top: 10px solid #FFFFFF;
}

h3.place-divide {
    font-size: 1.7rem;
    font-weight: bold;
    color: #991E23;
    padding: 0 0 7px 20px;
    border-bottom: 1px solid #991E23;
}

h3.place-divide span {
    display: inline-block;
    margin-left: 40px;
}

.detail-box {
    margin-bottom: 40px;
}

.detail-box .area-name {
    display: inline-block;
    font-size: 2.0rem;
    font-weight: bold;
    background-color: #991E23;
    color: #FFFFFF;
    padding: 0 10px;
    margin: 0 15px 0 0;
}

.detail-box .area-date {
    display: inline-block;
    font-size: 2.0rem;
    font-weight: bold;
    color: #991E23;
    margin: 0;
}

.detail-box .venue-name {
    font-size: 2.0rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.detail-box .venue-detail {
    font-weight: bold;
    text-align: center;
}

.detail-box .venue-detail span {
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 10px 0 0;
    padding: 0 5px;
    background-color: #FFF697;
    color: #991E23;
}

.detail-box iframe {
    width: 100%;
    min-height: 200px;
    border: 1px solid #991E23;
}

@media screen and (max-width : 768px) {
    .top-banner {
        margin: 0 0 15px;
    }

    .main-lead {
        font-size: 1.6rem;
        text-align: center;
    }

    .main-title {
        font-size: 2.0rem;
        text-align: center;
    }

    .belt-title span {
        position: static;
        font-size: 1.2rem;
    }

    p.schedule {
        font-size: 1.6rem;
    }

    p.schedule .diamond {
        margin: 0 3px;
    }

    p.advance-application {
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    .download-box {
        padding: 0;
    }

    .download-box a.dl-button {
        font-size: 2.0rem;
        padding: 5px 0;
    }

    .download-box a.dl-button span {
        font-size: 1.5rem;
    }

    .download-box .in-page-box {
        margin: 0 0 50px;
    }

    .download-box a.in-page {
        padding: 0;
    }

    .download-box a.in-page::before {
        width: 0;
    }

    .download-box a.in-page::after {
        border: none;
    }

    h2.place-list {
        font-size: 2.0rem;
    }

    .place-anchor-box {
        display: block;
        padding: 0;
    }

    .place-anchor-box a {
        display: block;
        width: 100%;
        margin: 0 0 5px;
    }

    h3.place-divide {
        font-size: 1.5rem;
    }

    h3.place-divide span {
        margin-left: 20px;
    }

    .detail-box .area-name,
    .detail-box .area-date,
    .detail-box .venue-name {
        font-size: 1.7rem;
    }
}
/* #endregion メインページ */
