/* #region 全体 */
html {
	background-color: #FFFFFF;
    font-size: 62.5%;
    overflow-y: scroll;
}

body {
	font-family: '游ゴシック',Yu Gothic,YuGothic,'ヒラギノ角ゴ ProN W3',Hiragino Kaku Gothic ProN,'メイリオ',Meiryo,sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	color: #222222;
}

.wrapper {
    min-height: 100vh;
    position: relative;
    padding-bottom: 230px;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.error-msg {
    color: red;
}

.for-pc {
    display: block;
}

.for-sp {
    display: none;
}

@media screen and (max-width : 768px) {
    body {
        font-size: 1.4rem;
    }

    .for-pc {
        display: none;
    }

    .for-sp {
        display: block;
    }
}
/* #endregion 全体 */

/* #region エラーページ */
.error-header {
    border-top: 5px solid #F08C27;
    margin-bottom: 30px;
}

.error-header h1.error-title {
    font-size: 10.0rem;
    line-height: 7.0rem;
    font-weight: bold;
    text-align: center;
    color: #F08C27;
    margin: 30px auto 0;
}

.error-header p.error-lead {
    font-size: 4.0rem;
    font-weight: bold;
    text-align: center;
}

.error-comment {
    text-align: center;
    margin-bottom: 60px;
}

footer.error-footer {
    width: 100%;
    margin: 30px 0 0;
    padding: 20px 0;
    border-top: 1px solid #991E23;
    font-size: 1.3rem;
    position: absolute;
    bottom: 0;
}

footer.error-footer a {
    display: inline-block;
}

footer.error-footer img.logo {
    max-width: 160px;
}

footer.error-footer .copyright {
    text-align: right;
    margin: 20px 0 0;
}

@media screen and (max-width : 768px) {
    .error-header h1.error-title {
        font-size: 8.0rem;
    }

    .error-header p.error-lead {
        font-size: 3.0rem;
    }

    .error-comment {
        margin-bottom: 20px;
    }
}
/* #endregion エラーページ */

/* #region プライバシーポリシー */
h2.privacy-title {
	margin: 10px 0;
	padding: 10px 0;
	font-size: 1.9rem;
	text-align: center;
	border-top: 2px solid #0055A6;
	border-bottom: 2px solid #0055A6;
}

.policy-box {
	margin: 0;
	padding: 0 15px;
}

.policy-box h3 {
	font-size: 1.7rem;
	border-bottom: 1px solid #0055A6;
}

.policy-box .note-box {
	background-color: #E0E0E0;
	padding: 10px;
	margin: 0 0 20px;
	border-radius: 4px;
}

.policy-box .note-box h4 {
	font-size: 1.6rem;
	text-align: center;
}
/* #endregion プライバシーポリシー */
