/**********************************/
/*                                */
/*  メインイメージの青： #0055A6  */
/*                                */
/**********************************/

/* #region 全体 */
.go-to-top {
    color: #0055A6;
    font-size: 4.5rem;
    position: fixed;
    right: 50px;
    bottom: 30px;
    cursor: pointer;
    display: none;
    z-index: 10;
}

h1.title {
    width: 100%;
    font-size: 2.1rem;
    font-weight: bold;
    color: #0055A6;
    border-bottom: 1px solid #0055A6;
}

input[type="checkbox"] {
    display: none;
}

.for-checkbox {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 5px 5px 30px;
    position: relative;
    width: auto;
}

.for-checkbox::before {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}

.for-checkbox::after {
    border-right: 4px solid #0055A6;
    border-bottom: 3px solid #0055A6;
    content: '';
    display: block;
    height: 20px;
    top: 21px;
    left: 9px;
    margin-top: -16px;
    opacity: 0;
    position: absolute;
    transform: rotate(45deg) translate3d(0, 2px, 0) scale3d(0.7, 0.7, 1.0);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    width: 9px;
}

input[type="checkbox"]:checked + .for-checkbox::before {
    border-color: #666666;
}

input[type="checkbox"]:checked + .for-checkbox::after {
    opacity: 1.0;
    transform: rotate(45deg) scale3d(1.0, 1.0, 1.0);
}

input[type="radio"] {
    display: none;
}

.for-radio {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 5px 5px 30px;
    position: relative;
    width: auto;
}

.for-radio::before {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}

.for-radio::after {
    background: #0055A6;
    border-radius: 50%;
    content: '';
    display: block;
    height: 10px;
    left: 8px;
    margin-top: -4px;
    opacity: 0;
    position: absolute;
    top: 20px;
    transform: scale3d(0.3, 0.3, 1.0);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    width: 10px;
}

input[type="radio"]:checked + .for-radio::before {
    border-color: #666666;
}

input[type="radio"]:checked + .for-radio::after {
    opacity: 1;
    transform: scale3d(1.0, 1.0, 1.0);
}

.btn-summer21 {
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}

.btn-enabled {
    background-color: #EA3322;
    color: #FFFFFF;
    font-weight: bold;
}

.btn-disabled {
    background-color: #666666;
    color: #FFFFFF;
    font-weight: bold;
    cursor: not-allowed !important;
}







@media screen and (max-width : 768px) {
    .go-to-top {
        font-size: 3.5rem;
        right: 30px;
        bottom: 20px;
    }

    .wrapper {
        padding-bottom: 320px;
    }

    .for-radio::after {
        top: 15px;
    }
}
/* #endregion 全体 */

/* #region ヘッダー */
header {
    width: 100%;
    margin: 0 0 30px;
    padding: 40px 0 25px;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-size: auto auto;
    background-color: rgba(255, 255, 255, 1);
    background-image: repeating-linear-gradient(135deg, transparent, transparent 4px, rgba(206, 225, 224, 1) 4px, rgba(206, 225, 224, 1) 8px );
}

header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-size: auto auto;
    background-color: rgba(255, 255, 255, 1);
    background-image: repeating-linear-gradient(135deg, transparent, transparent 4px, rgba(206, 225, 224, 1) 4px, rgba(206, 225, 224, 1) 8px );
}






/* #endregion ヘッダー */

/* #region フッター */
footer {
    width: 100%;
    margin: 30px 0 0;
    padding: 25px 0 0;
    font-size: 1.3rem;
    position: absolute;
    bottom: 0;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-size: auto auto;
    background-color: rgba(255, 255, 255, 1);
    background-image: repeating-linear-gradient(135deg, transparent, transparent 4px, rgba(206, 225, 224, 1) 4px, rgba(206, 225, 224, 1) 8px );
}

footer a {
    display: inline-block;
}

footer img.logo {
    max-width: 160px;
}

footer dl.office {
    margin: 10px 20px;
}

footer dl.office dd span {
    font-size: 1.0rem;
    font-weight: bold;
    display: inline-block;
    margin-right: 6px;
}

footer .copyright {
    text-align: center;
    background-color: #FFF24A;
    color: #0055A6;
    margin: 10px 0 0;
    padding: 5px 0;
}
/* #endregion フッター */

/* #region メインページ */

/* #endregion メインページ */

/* #region 申込フォーム */
ul.breadcrumb-list {
    overflow: hidden;
    margin: 30px auto 20px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

ul.breadcrumb-list li {
    margin: 0 10px;
    background-color: #DBEFFF;
    padding: 5px 0;
    color: #0055A6;
    text-align: center;
    position: relative;
    flex: 1;
}

ul.breadcrumb-list li::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #DBEFFF #DBEFFF #DBEFFF transparent;
    left: -1em;
}

ul.breadcrumb-list li:first-child {
    border-radius: 3px 0 0 3px;
    margin-left: 0;
}

ul.breadcrumb-list li:first-child::before {
    border: none;
}

ul.breadcrumb-list li::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #DBEFFF;
    right: -1em;
}

ul.breadcrumb-list li:last-child {
    border-radius: 0 3px 3px 0;
    margin-right: 0;
}

ul.breadcrumb-list li:last-child::after {
    border: none;
}

ul.breadcrumb-list .current {
    font-weight: bold;
    background-color: #0055A6;
    color: #FFFFFF;
}

ul.breadcrumb-list .current::after {
    border-left-color: #0055A6;
}

ul.breadcrumb-list .current::before {
    border-color: #0055A6 #0055A6 #0055A6 transparent;
}

.form-box {
    border: 2px solid #FFF24A;
    padding: 20px;
    margin: 20px 0;
    border-radius: 6px;
}

.form-box .item-title {
    padding: 0 0 0 1.2rem;
    margin: 0;
    color: #0055A6;
    font-weight: bold;
    position: relative;
}

.form-box .item-title::before {
    content: "";
    display: block;
    width: 1.0rem;
    height: 1.0rem;
    background-color: #0055A6;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.form-box .place-label {
    font-size: 2.0rem;
}

.form-box .seminar-detail {
    margin: 20px 0;
}

.form-box .seminar-detail p.place {
    background-color: #FFF24A;
    font-weight: bold;
    display: inline-block;
    padding: 0 8px;
    margin: 0 0 5px;
}

.form-box .seminar-detail h2 {
    font-size: 2.7rem;
    font-weight: bold;
    margin-left: 1.5rem;
}

.form-box .seminar-detail dl.schedule {
    margin: 0 0 0 1.5rem;
    padding: 0;
}

.form-box .seminar-detail dl.schedule::after {
    content: "";
    display: block;
    clear: both;
}

.form-box .seminar-detail dl.schedule dt {
    float: left;
    width: 60px;
    font-weight: normal;
    color: #0055A6;
    background-color: #FFF24A;
    text-align: center;
    line-height: 2.0rem;
    margin-top: 4px;
}

.form-box .seminar-detail dl.schedule dd {
    padding-left: 70px;
}

.form-box dl.item-box {
    margin: 10px 0;
    padding: 0;
}

.form-box dl.item-box::after {
    content: "";
    display: block;
    clear: both;
}

.form-box dl.item-box dt {
    float: left;
    width: 150px;
}

.form-box dl.item-box dd {
    padding-left: 150px;
    margin-bottom: 20px;
}

.form-box dl.item-box dd:last-child {
    margin-bottom: 0;
}





@media screen and (max-width : 768px) {
    .form-box .place-label {
        font-size: 1.4rem;
    }

    .form-box .seminar-detail h2 {
        font-size: 2.0rem;
    }

    ul.breadcrumb-list li {
        font-size: 1.2rem;
    }

    .form-box dl.item-box dt {
        float: none;
        width: auto;
    }

    .form-box dl.item-box dd {
        padding-left: 0;
    }



}
/* #endregion 申込フォーム */
